body {
 
  color: $black;
  background: $white;
  .left ul a,
  .title,
  label,
  select,
  textarea,
  input {
    color: $white;
  }
  .cta{
    color: $color2;
  }
  .left {
    background-color: $color1;
    ul{
      li.active a{
        color: $white;
      }
      li:hover a{
        color: $white;
      }
    }
  }
  .color-button {
    .fa-regular.fa-moon {
      display: none;
    }
    .fa-solid.fa-moon-moon {
      display: block;
    }
  }
  .login-content {
    padding: 30px;
    border: 1px solid $color1;
    background: $color1;
  }
  input,
  textarea,
  select {
    color: $white;
    border: 1px solid $color2;
    background: $color2;
    &::placeholder {
      color: $white;
    }
  }
  p,title{
    color: $black;
  }
  &.active {
    background: #0f172a;
    color: $color1;
    .cta,
    .left ul a,
    .title,
    label,
    select,
    textarea,
    input,
    .cta {
      color: $color1;
    }
    input,
    select,
    textarea,
    .cta {
      background: $color2;
    }
    .left {
      background: #151f38;
    }
    .color-button {
      .fa-regular.fa-moon {
        display: none;
      }
      .fa-solid.fa-moon-moon {
        display: block;
      }
    }
    .login-content {
      padding: 30px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      background: $white;
      input{
        background: $white;
        border: 1px solid $color2;
        color: $color2;
        &::placeholder {
          color: $color2;
        }
      }
    }
    input,
    textarea,
    select {
      border: 1px solid rgba(255, 255, 255, 0.4);
      &::placeholder {
        color: $color1;
      }
    }
    .title,p{
      color: $color1;
    }
  }
}
